In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import os

In [5]:
poblacion = pd.read_csv("poblacion.csv", encoding="latin-1")
poblacion.head()

    provincia  anio  poblacion_total  poblacion_varones  poblacion_mujeres
0  Total País  2010         40788453           19940704           20847749
1  Total País  2011         41261490           20180791           21080699
2  Total País  2012         41733271           20420391           21312880
3  Total País  2013         42202935           20659037           21543898
4  Total País  2014         42669500           20896203           21773297

In [6]:
hogares_viviendas = pd.read_csv("hogares_viviendas_superficie.csv", encoding="latin-1")
hogares_viviendas.head()

,provincia_id,provincia,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
0,2,Capital Federal,1150134,1423973,1082998,200
1,6,Buenos Aires,4789484,5377786,4425193,307571
2,10,Catamarca,96001,113634,89376,102602
3,14,Córdoba,1031843,1232211,978553,165321
4,18,Corrientes,267797,292644,248844,88199

In [7]:
esperanza_de_vida = pd.read_csv("esperanza_de_vida.csv", encoding="latin-1")
esperanza_de_vida.head()

      provincia  anio  mujeres  varones
0  Buenos Aires  2015    80.22    73.54
1  Buenos Aires  2020    81.34    74.74
2  Buenos Aires  2025    82.32    75.80
3  Buenos Aires  2030    83.20    76.76
4  Buenos Aires  2035    83.98    77.60

In [8]:
poblacion.tail()

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres
770,Tierra del Fuego,2036,241593,122567,119026
771,Tierra del Fuego,2037,245734,124625,121109
772,Tierra del Fuego,2038,249853,126670,123183
773,Tierra del Fuego,2039,253948,128702,125246
774,Tierra del Fuego,2040,258020,130721,127299

In [9]:
hogares_viviendas.tail()

,provincia_id,provincia,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
19,78,Santa Cruz,81796,93881,76233,243943
20,82,Santa Fe,1023777,1143651,948369,133007
21,86,Santiago del Estero,218025,242034,197906,136351
22,90,Tucumán,368538,396040,335821,22524
23,94,Tierra del Fuego,38956,43360,36689,1002445

In [10]:
esperanza_de_vida.tail()

    provincia  anio  mujeres  varones
139   Tucumán  2020    81.05    75.11
140   Tucumán  2025    82.11    76.15
141   Tucumán  2030    83.03    77.07
142   Tucumán  2035    83.84    77.88
143   Tucumán  2040    84.54    78.58

In [11]:
poblacion.describe()

              anio  poblacion_total  poblacion_varones  poblacion_mujeres
count   775.000000     7.750000e+02       7.750000e+02       7.750000e+02
mean   2025.000000     3.777746e+06       1.856888e+06       1.920858e+06
std       8.950048     9.560571e+06       4.699604e+06       4.861043e+06
min    2010.000000     1.316610e+05       6.723500e+04       6.442600e+04
25%    2017.000000     5.845510e+05       2.906740e+05       2.934905e+05
50%    2025.000000     1.017731e+06       5.061010e+05       5.161370e+05
75%    2033.000000     1.855285e+06       9.138865e+05       9.404745e+05
max    2040.000000     5.277848e+07       2.603809e+07       2.674038e+07

In [12]:
hogares_viviendas.describe()

,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
count,24.000000,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01
mean,48.000000,5.071531e+05,5.755052e+05,4.715628e+05,1.567198e+05
std,28.284271,9.631395e+05,1.087472e+06,8.908855e+05,1.940901e+05
min,2.000000,3.895600e+04,4.336000e+04,3.668900e+04,2.000000e+02
25%,25.000000,1.369578e+05,1.513558e+05,1.270420e+05,7.827275e+04
50%,48.000000,2.086070e+05,2.393215e+05,1.942515e+05,1.011175e+05
75%,71.000000,3.701838e+05,4.034278e+05,3.411782e+05,1.579462e+05
max,94.000000,4.789484e+06,5.377786e+06,4.425193e+06,1.002445e+06

In [13]:
esperanza_de_vida.describe()

              anio     mujeres     varones
count   144.000000  144.000000  144.000000
mean   2027.500000   82.710347   76.417778
std       8.568931    1.637181    1.749619
min    2015.000000   78.320000   71.530000
25%    2020.000000   81.525000   75.177500
50%    2027.500000   82.865000   76.595000
75%    2035.000000   84.117500   77.890000
max    2040.000000   85.460000   79.270000

In [14]:
poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 775 entries, 0 to 774
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   provincia          775 non-null    object
 1   anio               775 non-null    int64
 2   poblacion_total    775 non-null    int64
 3   poblacion_varones  775 non-null    int64
 4   poblacion_mujeres  775 non-null    int64
dtypes: int64(4), object(1)
memory usage: 30.4+ KB

In [15]:
hogares_viviendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   provincia_id                      24 non-null     int64
 1   provincia                         24 non-null     object
 2   hogares                           24 non-null     int64
 3   viviendas_particulares            24 non-null     int64
 4   viviendas_particulares_habitadas  24 non-null     int64
 5   superficie_km2                    24 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [17]:
esperanza_de_vida.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   provincia  144 non-null    object
 1   anio       144 non-null    int64
 2   mujeres    144 non-null    float64
 3   varones    144 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.6+ KB

In [19]:
poblacion.dtypes

provincia            object
anio                  int64
poblacion_total       int64
poblacion_varones     int64
poblacion_mujeres     int64
dtype: object

In [20]:
hogares_viviendas.dtypes

provincia_id                         int64
provincia                           object
hogares                              int64
viviendas_particulares               int64
viviendas_particulares_habitadas     int64
superficie_km2                       int64
dtype: object

In [21]:
esperanza_de_vida.dtypes

provincia     object
anio           int64
mujeres      float64
varones      float64
dtype: object