In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import os

In [5]:
poblacion = pd.read_csv("poblacion.csv", encoding="latin-1")
poblacion.head()

    provincia  anio  poblacion_total  poblacion_varones  poblacion_mujeres
0  Total País  2010         40788453           19940704           20847749
1  Total País  2011         41261490           20180791           21080699
2  Total País  2012         41733271           20420391           21312880
3  Total País  2013         42202935           20659037           21543898
4  Total País  2014         42669500           20896203           21773297

In [6]:
hogares_viviendas = pd.read_csv("hogares_viviendas_superficie.csv", encoding="latin-1")
hogares_viviendas.head()

,provincia_id,provincia,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
0,2,Capital Federal,1150134,1423973,1082998,200
1,6,Buenos Aires,4789484,5377786,4425193,307571
2,10,Catamarca,96001,113634,89376,102602
3,14,Córdoba,1031843,1232211,978553,165321
4,18,Corrientes,267797,292644,248844,88199

In [7]:
esperanza_de_vida = pd.read_csv("esperanza_de_vida.csv", encoding="latin-1")
esperanza_de_vida.head()

      provincia  anio  mujeres  varones
0  Buenos Aires  2015    80.22    73.54
1  Buenos Aires  2020    81.34    74.74
2  Buenos Aires  2025    82.32    75.80
3  Buenos Aires  2030    83.20    76.76
4  Buenos Aires  2035    83.98    77.60

In [8]:
poblacion.tail()

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres
770,Tierra del Fuego,2036,241593,122567,119026
771,Tierra del Fuego,2037,245734,124625,121109
772,Tierra del Fuego,2038,249853,126670,123183
773,Tierra del Fuego,2039,253948,128702,125246
774,Tierra del Fuego,2040,258020,130721,127299

In [9]:
hogares_viviendas.tail()

,provincia_id,provincia,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
19,78,Santa Cruz,81796,93881,76233,243943
20,82,Santa Fe,1023777,1143651,948369,133007
21,86,Santiago del Estero,218025,242034,197906,136351
22,90,Tucumán,368538,396040,335821,22524
23,94,Tierra del Fuego,38956,43360,36689,1002445

In [10]:
esperanza_de_vida.tail()

    provincia  anio  mujeres  varones
139   Tucumán  2020    81.05    75.11
140   Tucumán  2025    82.11    76.15
141   Tucumán  2030    83.03    77.07
142   Tucumán  2035    83.84    77.88
143   Tucumán  2040    84.54    78.58

In [11]:
poblacion.describe()

              anio  poblacion_total  poblacion_varones  poblacion_mujeres
count   775.000000     7.750000e+02       7.750000e+02       7.750000e+02
mean   2025.000000     3.777746e+06       1.856888e+06       1.920858e+06
std       8.950048     9.560571e+06       4.699604e+06       4.861043e+06
min    2010.000000     1.316610e+05       6.723500e+04       6.442600e+04
25%    2017.000000     5.845510e+05       2.906740e+05       2.934905e+05
50%    2025.000000     1.017731e+06       5.061010e+05       5.161370e+05
75%    2033.000000     1.855285e+06       9.138865e+05       9.404745e+05
max    2040.000000     5.277848e+07       2.603809e+07       2.674038e+07

In [12]:
hogares_viviendas.describe()

,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
count,24.000000,2.400000e+01,2.400000e+01,2.400000e+01,2.400000e+01
mean,48.000000,5.071531e+05,5.755052e+05,4.715628e+05,1.567198e+05
std,28.284271,9.631395e+05,1.087472e+06,8.908855e+05,1.940901e+05
min,2.000000,3.895600e+04,4.336000e+04,3.668900e+04,2.000000e+02
25%,25.000000,1.369578e+05,1.513558e+05,1.270420e+05,7.827275e+04
50%,48.000000,2.086070e+05,2.393215e+05,1.942515e+05,1.011175e+05
75%,71.000000,3.701838e+05,4.034278e+05,3.411782e+05,1.579462e+05
max,94.000000,4.789484e+06,5.377786e+06,4.425193e+06,1.002445e+06

In [13]:
esperanza_de_vida.describe()

              anio     mujeres     varones
count   144.000000  144.000000  144.000000
mean   2027.500000   82.710347   76.417778
std       8.568931    1.637181    1.749619
min    2015.000000   78.320000   71.530000
25%    2020.000000   81.525000   75.177500
50%    2027.500000   82.865000   76.595000
75%    2035.000000   84.117500   77.890000
max    2040.000000   85.460000   79.270000

In [14]:
poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 775 entries, 0 to 774
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   provincia          775 non-null    object
 1   anio               775 non-null    int64
 2   poblacion_total    775 non-null    int64
 3   poblacion_varones  775 non-null    int64
 4   poblacion_mujeres  775 non-null    int64
dtypes: int64(4), object(1)
memory usage: 30.4+ KB

In [15]:
hogares_viviendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   provincia_id                      24 non-null     int64
 1   provincia                         24 non-null     object
 2   hogares                           24 non-null     int64
 3   viviendas_particulares            24 non-null     int64
 4   viviendas_particulares_habitadas  24 non-null     int64
 5   superficie_km2                    24 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [17]:
esperanza_de_vida.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   provincia  144 non-null    object
 1   anio       144 non-null    int64
 2   mujeres    144 non-null    float64
 3   varones    144 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.6+ KB

In [19]:
poblacion.dtypes

provincia            object
anio                  int64
poblacion_total       int64
poblacion_varones     int64
poblacion_mujeres     int64
dtype: object

In [20]:
hogares_viviendas.dtypes

provincia_id                         int64
provincia                           object
hogares                              int64
viviendas_particulares               int64
viviendas_particulares_habitadas     int64
superficie_km2                       int64
dtype: object

In [21]:
esperanza_de_vida.dtypes

provincia     object
anio           int64
mujeres      float64
varones      float64
dtype: object

In [22]:
poblacion_filtrado = poblacion[poblacion['provincia'] != 'Total País']
poblacion_filtrado

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres
31,Capital Federal,2010,3028481,1405566,1622915
32,Capital Federal,2011,3033639,1409835,1623804
33,Capital Federal,2012,3038860,1414105,1624755
34,Capital Federal,2013,3044076,1418339,1625737
35,Capital Federal,2014,3049229,1422507,1626722
...,...,...,...,...,...
770,Tierra del Fuego,2036,241593,122567,119026
771,Tierra del Fuego,2037,245734,124625,121109
772,Tierra del Fuego,2038,249853,126670,123183
773,Tierra del Fuego,2039,253948,128702,125246
774,Tierra del Fuego,2040,258020,130721,127299

In [23]:
poblacion_superficie = pd.merge(poblacion_filtrado, hogares_viviendas, left_on=['provincia'], right_on=['provincia'], how='left')
poblacion_superficie

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2
0,Capital Federal,2010,3028481,1405566,1622915,2,1150134,1423973,1082998,200
1,Capital Federal,2011,3033639,1409835,1623804,2,1150134,1423973,1082998,200
2,Capital Federal,2012,3038860,1414105,1624755,2,1150134,1423973,1082998,200
3,Capital Federal,2013,3044076,1418339,1625737,2,1150134,1423973,1082998,200
4,Capital Federal,2014,3049229,1422507,1626722,2,1150134,1423973,1082998,200
...,...,...,...,...,...,...,...,...,...,...
739,Tierra del Fuego,2036,241593,122567,119026,94,38956,43360,36689,1002445
740,Tierra del Fuego,2037,245734,124625,121109,94,38956,43360,36689,1002445
741,Tierra del Fuego,2038,249853,126670,123183,94,38956,43360,36689,1002445
742,Tierra del Fuego,2039,253948,128702,125246,94,38956,43360,36689,1002445
743,Tierra del Fuego,2040,258020,130721,127299,94,38956,43360,36689,1002445

In [25]:
poblacion_superficie['densidad_de_poblacion'] = poblacion_superficie['poblacion_total']/poblacion_superficie['superficie_km2']
poblacion_superficie

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2,densidad_de_poblacion
0,Capital Federal,2010,3028481,1405566,1622915,2,1150134,1423973,1082998,200,15142.405000
1,Capital Federal,2011,3033639,1409835,1623804,2,1150134,1423973,1082998,200,15168.195000
2,Capital Federal,2012,3038860,1414105,1624755,2,1150134,1423973,1082998,200,15194.300000
3,Capital Federal,2013,3044076,1418339,1625737,2,1150134,1423973,1082998,200,15220.380000
4,Capital Federal,2014,3049229,1422507,1626722,2,1150134,1423973,1082998,200,15246.145000
...,...,...,...,...,...,...,...,...,...,...,...
739,Tierra del Fuego,2036,241593,122567,119026,94,38956,43360,36689,1002445,0.241004
740,Tierra del Fuego,2037,245734,124625,121109,94,38956,43360,36689,1002445,0.245135
741,Tierra del Fuego,2038,249853,126670,123183,94,38956,43360,36689,1002445,0.249244
742,Tierra del Fuego,2039,253948,128702,125246,94,38956,43360,36689,1002445,0.253329
743,Tierra del Fuego,2040,258020,130721,127299,94,38956,43360,36689,1002445,0.257391

In [26]:
poblacion_superficie.isnull().sum()

provincia                           0
anio                                0
poblacion_total                     0
poblacion_varones                   0
poblacion_mujeres                   0
provincia_id                        0
hogares                             0
viviendas_particulares              0
viviendas_particulares_habitadas    0
superficie_km2                      0
densidad_de_poblacion               0
dtype: int64

In [30]:
poblacion_superficie['fuera_de_rango'] = (poblacion_superficie['densidad_de_poblacion']- np.mean(poblacion_superficie['densidad_de_poblacion']))/np.std(poblacion_superficie['densidad_de_poblacion'])
poblacion_superficie

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2,densidad_de_poblacion,fuera_de_rango
0,Capital Federal,2010,3028481,1405566,1622915,2,1150134,1423973,1082998,200,15142.405000,4.731966
1,Capital Federal,2011,3033639,1409835,1623804,2,1150134,1423973,1082998,200,15168.195000,4.740389
2,Capital Federal,2012,3038860,1414105,1624755,2,1150134,1423973,1082998,200,15194.300000,4.748916
3,Capital Federal,2013,3044076,1418339,1625737,2,1150134,1423973,1082998,200,15220.380000,4.757434
4,Capital Federal,2014,3049229,1422507,1626722,2,1150134,1423973,1082998,200,15246.145000,4.765849
...,...,...,...,...,...,...,...,...,...,...,...,...
739,Tierra del Fuego,2036,241593,122567,119026,94,38956,43360,36689,1002445,0.241004,-0.213774
740,Tierra del Fuego,2037,245734,124625,121109,94,38956,43360,36689,1002445,0.245135,-0.213773
741,Tierra del Fuego,2038,249853,126670,123183,94,38956,43360,36689,1002445,0.249244,-0.213771
742,Tierra del Fuego,2039,253948,128702,125246,94,38956,43360,36689,1002445,0.253329,-0.213770
743,Tierra del Fuego,2040,258020,130721,127299,94,38956,43360,36689,1002445,0.257391,-0.213769

In [31]:
p99 = np.percentile(poblacion_superficie['fuera_de_rango'], 99)
p99

np.float64(4.821306724666531)

In [37]:
print(type(poblacion_superficie))

<class 'pandas.core.frame.DataFrame'>

In [26]:
datos_reales = poblacion_superficie[poblacion_superficie["anio"] <= 2024]
datos_reales

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2,densidad_de_poblacion,fuera_de_rango
0,Capital Federal,2010,3028481,1405566,1622915,2,1150134,1423973,1082998,200,15142.405000,4.731966
1,Capital Federal,2011,3033639,1409835,1623804,2,1150134,1423973,1082998,200,15168.195000,4.740389
2,Capital Federal,2012,3038860,1414105,1624755,2,1150134,1423973,1082998,200,15194.300000,4.748916
3,Capital Federal,2013,3044076,1418339,1625737,2,1150134,1423973,1082998,200,15220.380000,4.757434
4,Capital Federal,2014,3049229,1422507,1626722,2,1150134,1423973,1082998,200,15246.145000,4.765849
...,...,...,...,...,...,...,...,...,...,...,...,...
723,Tierra del Fuego,2020,173432,88412,85020,94,38956,43360,36689,1002445,0.173009,-0.213796
724,Tierra del Fuego,2021,177697,90565,87132,94,38956,43360,36689,1002445,0.177264,-0.213795
725,Tierra del Fuego,2022,181983,92727,89256,94,38956,43360,36689,1002445,0.181539,-0.213793
726,Tierra del Fuego,2023,186285,94895,91390,94,38956,43360,36689,1002445,0.185831,-0.213792
727,Tierra del Fuego,2024,190601,97068,93533,94,38956,43360,36689,1002445,0.190136,-0.213791

In [27]:
datos_reales.describe()

,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2,densidad_de_poblacion,fuera_de_rango
count,360.000000,3.600000e+02,3.600000e+02,3.600000e+02,360.000000,3.600000e+02,3.600000e+02,3.600000e+02,3.600000e+02,360.000000,360.000000
mean,2017.000000,1.833329e+06,8.988734e+05,9.344560e+05,48.000000,5.071531e+05,5.755052e+05,4.715628e+05,1.567198e+05,652.251859,-0.000814
std,4.326507,3.308598e+06,1.619239e+06,1.689496e+06,27.727283,9.441729e+05,1.066057e+06,8.733417e+05,1.902680e+05,3059.790564,0.999390
min,2010.000000,1.316610e+05,6.723500e+04,6.442600e+04,2.000000,3.895600e+04,4.336000e+04,3.668900e+04,2.000000e+02,0.131340,-0.213810
25%,2013.000000,5.263175e+05,2.618822e+05,2.647360e+05,25.000000,1.369578e+05,1.513558e+05,1.270420e+05,7.827275e+04,4.047598,-0.212531
50%,2017.000000,8.465620e+05,4.213460e+05,4.252160e+05,48.000000,2.086070e+05,2.393215e+05,1.942515e+05,1.011175e+05,8.637095,-0.211032
75%,2021.000000,1.490281e+06,7.350465e+05,7.547408e+05,71.000000,3.701838e+05,4.034278e+05,3.411782e+05,1.579462e+05,18.763695,-0.207724
max,2024.000000,1.820085e+07,8.943682e+06,9.257169e+06,94.000000,4.789484e+06,5.377786e+06,4.425193e+06,1.002445e+06,15427.415000,4.825056

In [31]:
datos_futuros = poblacion_superficie[poblacion_superficie["anio"] > 2024]
datos_futuros

,provincia,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2,densidad_de_poblacion,fuera_de_rango
15,Capital Federal,2025,3086680,1456560,1630120,2,1150134,1423973,1082998,200,15433.400000,4.827011
16,Capital Federal,2026,3087338,1458111,1629227,2,1150134,1423973,1082998,200,15436.690000,4.828085
17,Capital Federal,2027,3087434,1459359,1628075,2,1150134,1423973,1082998,200,15437.170000,4.828242
18,Capital Federal,2028,3086973,1460309,1626664,2,1150134,1423973,1082998,200,15434.865000,4.827489
19,Capital Federal,2029,3085971,1460970,1625001,2,1150134,1423973,1082998,200,15429.855000,4.825853
...,...,...,...,...,...,...,...,...,...,...,...,...
739,Tierra del Fuego,2036,241593,122567,119026,94,38956,43360,36689,1002445,0.241004,-0.213774
740,Tierra del Fuego,2037,245734,124625,121109,94,38956,43360,36689,1002445,0.245135,-0.213773
741,Tierra del Fuego,2038,249853,126670,123183,94,38956,43360,36689,1002445,0.249244,-0.213771
742,Tierra del Fuego,2039,253948,128702,125246,94,38956,43360,36689,1002445,0.253329,-0.213770
743,Tierra del Fuego,2040,258020,130721,127299,94,38956,43360,36689,1002445,0.257391,-0.213769

In [32]:
datos_futuros.describe()

,anio,poblacion_total,poblacion_varones,poblacion_mujeres,provincia_id,hogares,viviendas_particulares,viviendas_particulares_habitadas,superficie_km2,densidad_de_poblacion,fuera_de_rango
count,384.000000,3.840000e+02,3.840000e+02,3.840000e+02,384.00000,3.840000e+02,3.840000e+02,3.840000e+02,3.840000e+02,384.000000,384.000000
mean,2032.500000,2.093432e+06,1.031119e+06,1.062313e+06,48.00000,5.071531e+05,5.755052e+05,4.715628e+05,1.567198e+05,657.079577,0.000763
std,4.615786,3.774591e+06,1.857544e+06,1.917131e+06,27.72487,9.440907e+05,1.065964e+06,8.732657e+05,1.902514e+05,3071.384817,1.003177
min,2025.000000,1.949260e+05,9.924400e+04,9.568200e+04,2.00000,3.895600e+04,4.336000e+04,3.668900e+04,2.000000e+02,0.194451,-0.213789
25%,2028.750000,6.255470e+05,3.109422e+05,3.146048e+05,25.00000,1.369578e+05,1.513558e+05,1.270420e+05,7.827275e+04,4.640967,-0.212337
50%,2032.500000,9.766725e+05,4.869420e+05,4.897305e+05,48.00000,2.086070e+05,2.393215e+05,1.942515e+05,1.011175e+05,10.091980,-0.210556
75%,2036.250000,1.744015e+06,8.626890e+05,8.813260e+05,71.00000,3.701838e+05,4.034278e+05,3.411782e+05,1.579462e+05,21.188889,-0.206932
max,2040.000000,2.050365e+07,1.011844e+07,1.038522e+07,94.00000,4.789484e+06,5.377786e+06,4.425193e+06,1.002445e+06,15437.170000,4.828242

In [4]:
import pandas as pd

poblacion_superficie = pd.read_csv("poblacion_superficie.csv")  # o poné el path correcto

In [5]:
poblacion_superficie["densidad_de_poblacion"].describe()

count      744.000000
mean       654.743585
std       3063.717821
min          0.131340
25%          4.424877
50%          9.406474
75%         20.322919
max      15437.170000
Name: densidad_de_poblacion, dtype: float64

In [9]:
poblacion_superficie["fuera_de_rango"].mean()

np.float64(5.730183352904034e-17)

In [8]:
poblacion_superficie["fuera_de_rango"].median()

np.float64(-0.21078026116816073)

In [10]:
poblacion_superficie["fuera_de_rango"].std()

np.float64(1.0006727212331654)

In [11]:
poblacion_superficie["fuera_de_rango"].min()

np.float64(-0.2138097091693417)

In [13]:
poblacion_superficie["fuera_de_rango"].max()

np.float64(4.828241937143234)

In [14]:
poblacion_superficie["superficie_km2"].describe()

count    7.440000e+02
mean     1.567198e+05
std      1.901313e+05
min      2.000000e+02
25%      7.827275e+04
50%      1.011175e+05
75%      1.579462e+05
max      1.002445e+06
Name: superficie_km2, dtype: float64

In [20]:
poblacion_superficie["superficie_km2"].mean()

np.float64(156719.75)

In [16]:
poblacion_superficie["superficie_km2"].median()

np.float64(101117.5)

In [17]:
poblacion_superficie["superficie_km2"].std()

np.float64(190131.34393628925)

In [18]:
poblacion_superficie["superficie_km2"].min()

np.int64(200)

In [19]:
poblacion_superficie["superficie_km2"].max()

np.int64(1002445)

In [22]:
# Valor máximo de una columna específica, por ejemplo 'poblacion total'
max_poblacion_total = poblacion_superficie['poblacion_total'].max()
print("Valor máximo de poblacion total:", max_poblacion_total)

Valor máximo de poblacion total: 20503653

In [52]:
min_poblacion_total = poblacion_superficie['poblacion_total'].min()
print("Valor mínimo de poblacion total:", min_poblacion_total)

Valor mínimo de poblacion total: 131661

In [28]:
max_poblacion_total_datos_reales = datos_reales['poblacion_total'].max()
print("Valor máximo de poblacion total según datos reales:", max_poblacion_total_datos_reales)

Valor máximo de poblacion total según datos reales: 18200851

In [29]:
min_poblacion_total_datos_reales = datos_reales['poblacion_total'].min()
print("Valor mínimo de poblacion total según datos reales:", min_poblacion_total_datos_reales)

Valor mínimo de poblacion total según datos reales: 131661

In [53]:
mean_poblacion_total_datos_reales = datos_reales['poblacion_total'].mean()
print("Valor promedio de poblacion total según datos reales:", mean_poblacion_total_datos_reales)

Valor promedio de poblacion total según datos reales: 1833329.361111111

In [33]:
max_poblacion_total_datos_futuros = datos_futuros['poblacion_total'].max()
print("Valor máximo de poblacion total según datos futuros:", max_poblacion_total_datos_futuros)

Valor máximo de poblacion total según datos futuros: 20503653

In [34]:
min_poblacion_total_datos_futuros = datos_futuros['poblacion_total'].min()
print("Valor mínimo de poblacion total según datos futuros:", min_poblacion_total_datos_futuros)

Valor mínimo de poblacion total según datos futuros: 194926

In [54]:
mean_poblacion_total_datos_futuros = datos_futuros['poblacion_total'].mean()
print("Valor promedio de poblacion total según datos futuros:", mean_poblacion_total_datos_futuros)

Valor promedio de poblacion total según datos futuros: 2093431.8619791667

In [35]:
max_poblacion_varones_datos_reales = datos_reales['poblacion_varones'].max()
print("Valor máximo de hombres según datos reales:", max_poblacion_varones_datos_reales)

Valor máximo de hombres según datos reales: 8943682

In [36]:
min_poblacion_varones_datos_reales = datos_reales['poblacion_varones'].min()
print("Valor mínimo de hombres según datos reales:", min_poblacion_varones_datos_reales)

Valor mínimo de hombres según datos reales: 67235

In [37]:
mean_poblacion_varones_datos_reales = datos_reales['poblacion_varones'].mean()
print("Valor promedio de hombres según datos reales:", mean_poblacion_varones_datos_reales)

Valor promedio de hombres según datos reales: 898873.4

In [38]:
max_poblacion_mujeres_datos_reales = datos_reales['poblacion_mujeres'].max()
print("Valor máximo de mujeres según datos reales:", max_poblacion_mujeres_datos_reales)

Valor máximo de mujeres según datos reales: 9257169

In [39]:
min_poblacion_mujeres_datos_reales = datos_reales['poblacion_mujeres'].min()
print("Valor mínimo de mujeres según datos reales:", min_poblacion_mujeres_datos_reales)

Valor mínimo de mujeres según datos reales: 64426

In [40]:
mean_poblacion_mujeres_datos_reales = datos_reales['poblacion_mujeres'].mean()
print("Valor promedio de mujeres según datos reales:", mean_poblacion_mujeres_datos_reales)

Valor promedio de mujeres según datos reales: 934455.9611111111

In [41]:
max_poblacion_varones_datos_futuros = datos_futuros['poblacion_varones'].max()
print("Valor máximo de hombres según datos futuros:", max_poblacion_varones_datos_futuros)

Valor máximo de hombres según datos futuros: 10118438

In [42]:
min_poblacion_varones_datos_futuros = datos_futuros['poblacion_varones'].min()
print("Valor mínimo de hombres según datos futuros:", min_poblacion_varones_datos_futuros)

Valor mínimo de hombres según datos futuros: 99244

In [43]:
mean_poblacion_varones_datos_futuros = datos_futuros['poblacion_varones'].mean()
print("Valor promedio de hombres según datos futuros:", mean_poblacion_varones_datos_futuros)

Valor promedio de hombres según datos futuros: 1031118.765625

In [44]:
max_poblacion_mujeres_datos_futuros = datos_futuros['poblacion_mujeres'].max()
print("Valor máximo de mujeres según datos futuros:", max_poblacion_mujeres_datos_futuros)

Valor máximo de mujeres según datos futuros: 10385215

In [45]:
min_poblacion_mujeres_datos_futuros = datos_futuros['poblacion_mujeres'].min()
print("Valor mínimo de mujeres según datos futuros:", min_poblacion_mujeres_datos_futuros)

Valor mínimo de mujeres según datos futuros: 95682

In [46]:
mean_poblacion_mujeres_datos_futuros = datos_futuros['poblacion_mujeres'].mean()
print("Valor promedio de mujeres según datos futuros:", mean_poblacion_mujeres_datos_futuros)

Valor promedio de mujeres según datos futuros: 1062313.0963541667

In [48]:
mean_densidad_datos_reales = datos_reales['densidad_de_poblacion'].mean()
print("Valor promedio de la densidad de población según datos reales:", mean_densidad_datos_reales)

Valor promedio de la densidad de población según datos reales: 652.2518590200689

In [49]:
mean_densidad_datos_futuros = datos_futuros['densidad_de_poblacion'].mean()
print("Valor promedio de la densidad de población según datos futuros:", mean_densidad_datos_futuros)

Valor promedio de la densidad de población según datos futuros: 657.0795773851235

In [50]:
max_densidad_datos_reales = datos_reales['densidad_de_poblacion'].max()
print("Valor máximo de la densidad de población según datos reales:", max_densidad_datos_reales)

Valor máximo de la densidad de población según datos reales: 15427.415

In [51]:
max_densidad_datos_futuros = datos_futuros['densidad_de_poblacion'].max()
print("Valor máximo de la densidad de población según datos futuros:", max_densidad_datos_futuros)

Valor máximo de la densidad de población según datos futuros: 15437.17

In [55]:
mean_hogares_datos_reales = datos_reales['hogares'].mean()
print("Valor promedio de hogares según datos reales:", mean_hogares_datos_reales)

Valor promedio de hogares según datos reales: 507153.125

In [56]:
mean_hogares_datos_futuros = datos_futuros['hogares'].mean()
print("Valor promedio de hogares según datos futuros:", mean_hogares_datos_futuros)

Valor promedio de hogares según datos futuros: 507153.125

In [57]:
mean_viviendas_datos_reales = datos_reales['viviendas_particulares'].mean()
print("Valor promedio de viviendas según datos reales:", mean_viviendas_datos_reales)

Valor promedio de viviendas según datos reales: 575505.2083333334

In [58]:
mean_viviendas_datos_futuros = datos_futuros['viviendas_particulares'].mean()
print("Valor promedio de viviendas según datos futuros:", mean_viviendas_datos_futuros)

Valor promedio de viviendas según datos futuros: 575505.2083333334